* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 22px;
  color: #FBFBFB;
}

h2 {
  font-size: 20px;
  color: #FBFBFB; 
}

h3 {
  font-size: 16px;
  color: #787C99;
}

h4 {
  font-size: 14px;
  color: #787C99;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FBFBFB;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #787C99;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #787C99;
}

input, textarea {
  border: 1px solid #787C99;
  outline: none;
  padding: 5px 8px;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;

  border-radius: 5px;
}

textarea {
  max-width: 100%;
  min-height: 100px;
  resize: vertical;
}

html {
  height: 100vh;
  width: 100vw;
}

body, main {
  height: inherit;
  width: inherit;
}

main {
  background-color: #1B1B29;
}

button {
  padding: 10px 16px;

  background: #9E4770;
  border: none;
  border-radius: 58px;

  outline: none;
  user-select: none;
  cursor: pointer;

  color: #FBFBFB;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}