$small-radius: 5px;

$long-element-height: 58px;
$horizontal-separation: 28px;
$vertical-separation: 24px;
$regular-separation: 14px;
$small-separation: 12px;
$smaller-separation: 10px;

$small-element-radius: 0px $small-radius $small-radius 0px;
$small-padding: 8px;

$box-vertical-padding: 16px;
$box-horizontal-padding: 18px;

$decorator-width: 10px;
$column-width: 260px;

$task-border-radius: 10px;