<script lang="ts" setup>
	import { computed, onMounted, ref } from 'vue'
	import { useStore } from 'vuex'
	import { Board, ModalModes } from '../../types'
	import Backdrop from '../UI/Backdrop.vue'
	import Modal from './Modal.vue'

	const store = useStore()
	const boardToModify = computed(
		() =>
			store.state.boardsStore.boards.find(
				(board: Board) => board.id === store.state.boardsStore.elementToModify.id
			) as Board | undefined
	)
	const mode = computed(() => store.state.modalStore.boardModalMode as ModalModes)
	const title = computed(() => (mode.value === ('create' as ModalModes) ? 'Create New Board' : 'Edit Board'))
	const buttonText = computed(() => (mode.value === ('create' as ModalModes) ? 'Create' : 'Save'))

	const inputRef = ref(null as any)

	function handleFormSubmit() {
		if (inputRef.value.value !== '') {
			if (mode.value === 'create') {
				store.dispatch('createNewBoard', inputRef.value.value)
			} else if (mode.value === 'edit') {
				store.dispatch('editBoard', inputRef.value.value)
			}
			store.dispatch('hideBoardModal')
		}
	}

	function handleCloseNewBoardnModal() {
		store.dispatch('hideBoardModal')
	}

	onMounted(() => {
		if (mode.value === 'edit') {
			inputRef.value.value = boardToModify.value?.title || ''
		}
	})
</script>

<template>
	<modal @hide-modal="handleCloseNewBoardnModal">
		<div class="modal-content">
			<h3>{{ title }}</h3>
			<form class="new-board-form" @submit.prevent="handleFormSubmit">
				<label>
					Board Title
					<input type="text" ref="inputRef" />
				</label>
				<div class="submit-button-wrapper">
					<button type="submit">{{ buttonText }}</button>
				</div>
			</form>
		</div>
	</modal>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		gap: $vertical-separation;

		& > h3 {
			color: $text-accent;
		}
	}

	.new-board-form {
		display: flex;
		flex-direction: column;
		gap: $vertical-separation;

		width: 200px;
	}

	.submit-button-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
</style>
