<script lang="ts" setup>
	import { computed, ref } from 'vue'
	import { useStore } from 'vuex'
	import { Board, ModalModes } from '../../types'
	import BoardListEntry from '../UI/BoardListEntry.vue'

	const store = useStore()

	const boards = computed(() => store.state.boardsStore.boards as Array<Board>)

	function handleSelectEntry(board: Board) {
		store.dispatch('selectBoard', board)
	}

	function handleCreateNewBoard() {
		store.dispatch('showBoardModal', 'create' as ModalModes)
	}
</script>

<template>
	<div class="board-list-root">
		<h3 class="boards-header">All Boards {{ `(${boards ? `${boards.length}` : '0'})` }}</h3>
		<ul class="board-list">
			<li v-for="board in boards" :key="board.id">
				<board-list-entry :id="board.id" :title="board.title" @click="handleSelectEntry(board)" />
			</li>
			<li>
				<board-list-entry id="0x0" title="+ Create New Board" special @click="handleCreateNewBoard()" />
			</li>
		</ul>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.board-list-root {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: $small-separation;
	}

	.boards-header {
		padding-left: $horizontal-separation;
	}

	.board-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: $smaller-separation;

		width: 100%;

		& > li {
			width: 100%;
		}
	}
</style>
