<script lang="ts" setup>
	import { computed, onMounted, ref } from 'vue'
	import { useStore } from 'vuex'
	import { Board, Column, ModalModes } from '../../types'
	import Backdrop from '../UI/Backdrop.vue'
	import ColorButton from '../UI/ColorButton.vue'
	import Modal from './Modal.vue'

	const store = useStore()

	const selectedBoard = computed(() => store.state.boardsStore.selectedBoard as Board)
	const colors = computed(() => store.state.colorsStore.colors)
	const mode = computed(() => store.state.modalStore.columnModalMode as ModalModes)

	const columnToModify = computed(
		() =>
			store.state.boardsStore.columns.find(
				(column: Column) => column.id === store.state.boardsStore.elementToModify.id
			) as Column | undefined
	)
	const title = computed(() =>
		mode.value === ('create' as ModalModes) ? 'Create New Column' : 'Edit Column'
	)
	const buttonText = computed(() => (mode.value === ('create' as ModalModes) ? 'Create' : 'Save'))

	const inputRef = ref(null as any)
	const selectedColor = ref('')

	function handleColorButtonClick(color: string) {
		selectedColor.value = color
	}

	function handleCloseNewColumnModal() {
		store.dispatch('hideColumnModal')
	}

	function handleFormSubmit() {
		if (inputRef.value.value !== '' && selectedColor.value !== '') {
			if (mode.value === 'create') {
				store.dispatch('createNewColumn', {
					title: inputRef.value.value,
					decoratorColor: colors.value[selectedColor.value],
					boardID: selectedBoard.value.id
				})
			} else if (mode.value === 'edit') {
				store.dispatch('editColumn', {
					title: inputRef.value.value,
					decoratorColor: colors.value[selectedColor.value]
				})
			}
			store.dispatch('hideColumnModal')
		}
	}

	onMounted(() => {
		if (mode.value === 'edit') {
			inputRef.value.value = columnToModify.value?.title || ''
			selectedColor.value =
				Object.keys(colors.value).find(
					(colorKey: string) => colors.value[colorKey] === columnToModify.value?.decoratorColor
				) || ''
		}
	})
</script>

<template>
	<modal @hide-modal="handleCloseNewColumnModal">
		<div class="modal-content">
			<h3>{{ title }}</h3>
			<form class="new-column-form" @submit.prevent="handleFormSubmit">
				<label>
					Column Title
					<input type="text" ref="inputRef" />
				</label>
				<label @click.prevent>
					Column Decorator Color
					<!-- {{ colors }} -->
					<div class="colors-menu">
						<color-button
							v-for="(value, key) in colors"
							:key="key"
							:color="value"
							:selected="key === selectedColor"
							@click="() => handleColorButtonClick(key)" />
					</div>
				</label>
				<div class="submit-button-wrapper">
					<button type="submit">{{ buttonText }}</button>
				</div>
			</form>
		</div>
	</modal>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		gap: $vertical-separation;

		& > h3 {
			color: $text-accent;
		}
	}

	.new-column-form {
		display: flex;
		flex-direction: column;
		gap: $vertical-separation;

		width: 200px;
	}

	.colors-menu {
		display: flex;
		flex-direction: row;
		gap: $smaller-separation;
	}

	.submit-button-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
</style>
