<script lang="ts" setup>
	import { computed, onUnmounted, reactive, ref, watch } from 'vue'
	import { useStore } from 'vuex'
	import { ElementTypes, Task } from '../../types'
	import OptionsIcon from '../UI/OptionsIcon.vue'
	import TaskElement from '../UI/TaskElement.vue'

	const props = defineProps({
		boardId: String,
		decoratorColor: String,
		id: String,
		title: String
	})

	// Store state
	const store = useStore()
	const rootElRef = ref(null as any)
	const contextMenuOptions = ref(['Edit', 'Delete'])
	const tasks = computed(
		() => store.state.boardsStore.tasks.filter((task: Task) => task.columnID === props.id) as Array<Task>
	)

	// Managing task dragging:
	const mousePosition = computed(() => store.state.mouseTrackingStore.mousePosition as Record<string, number>)
	const initialColumnOffset = computed(() => {
		return {
			x: rootElRef.value?.offsetLeft ?? 0,
			y: rootElRef.value?.offsetTop ?? 0
		}
	})
	const columnOffset = reactive({
		x: initialColumnOffset.value.x,
		y: initialColumnOffset.value.y
	})
	const initialColumnDimensions = computed(() => {
		return {
			height: rootElRef.value?.offsetHeight ?? 0,
			width: rootElRef.value?.offsetWidth ?? 0
		}
	})
	const columnDimensions = reactive({
		height: initialColumnDimensions.value.height,
		width: initialColumnDimensions.value.width
	})
	const cursorIsInColumn = computed(() => {
		const isInHorizontally =
			mousePosition.value.x >= columnOffset.x &&
			mousePosition.value.x <= columnOffset.x + columnDimensions.width
		const isInVertically =
			mousePosition.value.y >= columnOffset.y &&
			mousePosition.value.y <= columnOffset.y + columnDimensions.height
		if (isInHorizontally && isInVertically) {
			return true
		}
		return false
	})
	const isDraggingTask = computed(() => store.state.mouseTrackingStore.isDragging)
	const offsetIntervalHandler = ref(null as any)

	// TODO: Outsource this chunk of logic into a mixin
	function handleOpenContextMenu(event: any) {
		const coordinates = {
			x: event.clientX,
			y: event.clientY
		}
		store.dispatch('setElementToModify', { id: props.id, type: 'column' as ElementTypes })
		store.dispatch('showContextMenu', {
			coordinates,
			options: contextMenuOptions.value
		})
	}

	watch(initialColumnOffset, () => {
		columnOffset.x = initialColumnOffset.value.x
		columnOffset.y = initialColumnOffset.value.y
	})
	watch(cursorIsInColumn, () => {
		store.dispatch('setOverColumnId', cursorIsInColumn.value === true ? props.id : '')
	})

	offsetIntervalHandler.value = setInterval(() => {
		// Update column dimensions
		columnDimensions.height = rootElRef.value?.offsetHeight ?? 0
		columnDimensions.width = rootElRef.value?.offsetWidth ?? 0

		// Update column offset
		columnOffset.x = rootElRef.value?.offsetLeft ?? 0
		columnOffset.y = rootElRef.value?.offsetTop ?? 0
	}, 1000)

	onUnmounted(() => {
		clearInterval(offsetIntervalHandler.value)
	})
</script>

<template>
	<div class="column-root" ref="rootElRef">
		<div class="column-header">
			<div class="decorator-and-title">
				<div class="column-decorator" :style="`background-color: ${decoratorColor}`" />
				<h4>{{ `${title} (${tasks.length})` }}</h4>
			</div>
			<options-icon @click.stop="handleOpenContextMenu" is-on-column />
		</div>
		<div :class="`tasks-list${cursorIsInColumn && isDraggingTask ? ' hovered' : ''}`">
			<task-element
				v-for="task in tasks"
				:title="task.title"
				:column-id="task.columnID"
				:parent-task-id="''"
				:description="task.description"
				:id="task.id"
				:board-id="props.id"
				:key="task.id" />
		</div>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';
	.column-root {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		gap: $small-separation;
	}

	.column-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.decorator-and-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		gap: $regular-separation;
	}

	.column-decorator {
		height: $decorator-width;
		min-width: $decorator-width;
		border-radius: $decorator-width;
	}

	.tasks-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: $small-separation;

		height: 100%;
		min-width: calc($column-width + 8px);

		overflow: hidden;
		overflow-y: scroll;

		box-sizing: border-box;
		border-radius: 14px;
		border: 4px solid;
		border-color: transparent;
		transition: border-color 0.3s;

		&.hovered {
			border-color: $base-darker;
		}

		&::-webkit-scrollbar {
			width: 6px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: transparent;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $base-lighter;
			border-radius: 6px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: $text-soft;
		}
	}
</style>
