<script lang="ts" setup>
	import { computed } from '@vue/runtime-dom'
	import { useStore } from 'vuex'
	import { Board, Column, ModalModes } from '../../types'
	import ColumnElement from './ColumnElement.vue'

	const store = useStore()

	const selectedBoard = computed(() => store.state.boardsStore.selectedBoard as Board)
	const columns = computed(
		() =>
			store.state.boardsStore.columns.filter(
				(column: Column) => column.boardID === selectedBoard.value.id
			) as Array<Column>
	)

	function addNewColumn() {
		store.dispatch('showColumnModal', 'create' as ModalModes)
	}
</script>

<template>
	<div class="column-display-root">
		<div v-if="selectedBoard.id" class="column-display-scroller">
			<column-element
				v-for="column in columns"
				:key="column.id"
				:board-id="selectedBoard.id"
				:decorator-color="column.decoratorColor"
				:id="column.id"
				:title="column.title" />
			<div v-if="selectedBoard.id" class="new-column" @click="addNewColumn">+ New Column</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.column-display-root {
		display: flex;
		width: 100%;
	}

	.column-display-scroller {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: $vertical-separation $horizontal-separation;
		gap: $horizontal-separation;
		box-sizing: border-box;

		height: calc(100vh - $long-element-height);
		width: max-content;

		overflow: hidden;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			height: 12px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: $base-darker;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $base-lighter;
			border-radius: 12px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: $text-soft;
		}
	}

	.new-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;

		min-width: $column-width;
		max-width: $column-width;
		height: 100%;

		background: $base-darker;
		border-radius: $task-border-radius;

		user-select: none;
		cursor: pointer;

		transition: color 0.3s;

		//

		font-size: $general-font-size;
		font-family: $general-title-font;
		color: $text-soft;

		&:hover {
			color: $text-accent;
		}
	}
</style>
