<script lang="ts" setup>
	import Columns from './Columns.vue'
	import TopBar from './TopBar.vue'
</script>

<template>
	<div class="content-root">
		<TopBar />
		<Columns />
	</div>
</template>

<style lang="scss" scoped></style>
