<script lang="ts" setup>
	import { computed } from 'vue'
	import { useStore } from 'vuex'
	import { ElementTypes } from '../../types'
	import Modal from './Modal.vue'

	const store = useStore()
	const elementToDelete = computed(() => store.state.boardsStore.elementToModify)

	function handleHideModal() {
		store.dispatch('hideDeleteModal')
	}
	function handleDeleteElement() {
		const elementToDeleteType = elementToDelete.value.type as ElementTypes
		if (elementToDeleteType === 'board') {
			store.dispatch('deleteBoard')
		} else if (elementToDeleteType === 'column') {
			store.dispatch('deleteColumn')
		} else if (elementToDeleteType === 'task') {
			store.dispatch('deleteTask')
		}
		store.dispatch('hideDeleteModal')
	}
</script>

<template>
	<modal @hide-modal="handleHideModal">
		<div class="modal-content">
			<h3>Delete {{ elementToDelete.type.charAt(0).toUpperCase() + elementToDelete.type.slice(1) }}</h3>
			<label>Are you sure you want to delete this {{ elementToDelete.type }}?</label>
			<div class="button-wrapper">
				<button @click="handleDeleteElement">Delete</button>
			</div>
		</div>
	</modal>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: $vertical-separation;

		width: 200px;

		& > h3 {
			color: $text-accent;
		}
	}

	.button-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		width: 100%;
	}
</style>
