<script lang="ts" setup>
	import { computed, ref } from 'vue'
	import { useStore } from 'vuex'
	import AppTitle from '../UI/AppTitle.vue'
	import BoardList from '../composite/BoardList.vue'
	import ExpandIcon from '../UI/ExpandIcon.vue'
	import HideIcon from '../UI/HideIcon.vue'

	const store = useStore()

	const isHideSidebarHovered = ref(false)
	const isShowSidebarHovered = ref(false)

	const isHidden = computed(() => store.state.leftPanelStore.isHidden)

	function handleMouseEnterHideSidebar() {
		isHideSidebarHovered.value = true
	}
	function handleMouseLeaveHideSidebar() {
		isHideSidebarHovered.value = false
	}

	function handleMouseEnterShowSidebar() {
		isShowSidebarHovered.value = true
	}
	function handleMouseLeaveShowSidebar() {
		isShowSidebarHovered.value = false
	}

	function handleHideSidebar() {
		store.dispatch('hideLeftPanel')
	}
	function handleShowSidebar() {
		store.dispatch('showLeftPanel')
	}
</script>

<template>
	<div class="left-panel-root">
		<div class="title-and-boards">
			<app-title />
			<board-list />
		</div>
		<div
			class="hide-panel"
			@click="handleHideSidebar"
			@mouseenter="handleMouseEnterHideSidebar"
			@mouseleave="handleMouseLeaveHideSidebar">
			<hide-icon :hovered="isHideSidebarHovered" />
			<span>Hide sidebar</span>
		</div>
		<div
			v-if="isHidden"
			class="show-panel"
			@click="handleShowSidebar"
			@mouseenter="handleMouseEnterShowSidebar"
			@mouseleave="handleMouseLeaveShowSidebar">
			<expand-icon :hovered="isShowSidebarHovered" />
		</div>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.left-panel-root {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;

		height: 100%;
		width: 100%;

		background-color: $base-lighter;
		border-right: 1px solid $base-darker;
	}

	.title-and-boards {
		display: flex;
		flex-direction: column;
		gap: $vertical-separation;

		width: 100%;
	}

	.hide-panel {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: $vertical-separation $horizontal-separation;
		gap: $regular-separation;
		box-sizing: border-box;

		cursor: pointer;

		& > span {
			font-family: $general-title-font;
			font-weight: 500;
			color: $text-soft;

			transition: color 0.3s;
		}

		&:hover {
			& > span {
				color: $text-accent;
			}
		}
	}

	.show-panel {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 50%;
		right: -$horizontal-separation;

		padding: $small-padding;

		background: $base-lighter;
		border-radius: $small-element-radius;
		border: 1px solid $base-darker;
		border-left: none;

		cursor: pointer;
	}
</style>
