<script lang="ts" setup>
	import Backdrop from '../UI/Backdrop.vue'
	import ModalBox from '../UI/ModalBox.vue'

	const emit = defineEmits(['hideModal'])

	function handleHideModal() {
		emit('hideModal')
	}
</script>

<template>
	<backdrop @hide-modal="handleHideModal">
		<modal-box>
			<slot></slot>
		</modal-box>
	</backdrop>
</template>

<style lang="scss" scoped></style>
