<script lang="ts" setup>
	import { computed, ref } from 'vue'
	import { useStore } from 'vuex'
	import { Board, Column } from '../../types'
	import CustomSelect from '../UI/CustomSelect.vue'
	import Modal from './Modal.vue'

	const store = useStore()

	const selectedBoard = computed(() => store.state.boardsStore.selectedBoard as Board)
	const options = computed(
		() =>
			store.state.boardsStore.columns.filter(
				(column: Column) => column.boardID === selectedBoard.value.id
			) as Array<Column>
	)
	const selectedColumnID = ref('')
	const selectedColumnTitle = ref('')

	function handleHideModal() {
		store.dispatch('hideMoveModal')
	}

	function handleSelectColumn(columnID: string) {
		selectedColumnID.value = columnID
		selectedColumnTitle.value = options.value.find((column: Column) => column.id === columnID)?.title || ''
	}

	function handleMoveTask() {
		if (selectedColumnID.value !== '') {
			store.dispatch('moveTask', selectedColumnID.value)
			store.dispatch('hideMoveModal')
		}
	}
</script>

<template>
	<modal @hide-modal="handleHideModal">
		<div class="modal-content">
			<h3>Move Task</h3>
			<form class="move-task-form" @submit.prevent="handleMoveTask">
				<label @click.prevent>
					Move to column:
					<custom-select
						:options="options"
						:selected-option="selectedColumnTitle"
						@select-column="handleSelectColumn" />
				</label>
				<div class="button-wrapper">
					<button type="submit">Move</button>
				</div>
			</form>
		</div>
	</modal>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		gap: $vertical-separation;

		& > h3 {
			color: $text-accent;
		}
	}

	.move-task-form {
		display: flex;
		flex-direction: column;
		gap: $vertical-separation;

		width: 200px;
	}

	.button-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		width: 100%;
	}
</style>
