<script lang="ts" setup>
	import { computed, onMounted, ref } from 'vue'
	import { useStore } from 'vuex'
	import CustomSelect from '../UI/CustomSelect.vue'
	import Modal from '../composite/Modal.vue'
	import { Board, Column, ModalModes, Task } from '../../types'

	const store = useStore()

	const selectedColumn = ref({} as Column)
	const selectedBoard = computed(() => store.state.boardsStore.selectedBoard as Board)
	const columns = computed(() =>
		store.state.boardsStore.columns.filter((column: Column) => column.boardID === selectedBoard.value.id)
	)

	const taskToModify = computed(
		() =>
			store.state.boardsStore.tasks.find(
				(task: Task) => task.id === store.state.boardsStore.elementToModify.id
			) as Task | undefined
	)
	const mode = computed(() => store.state.modalStore.taskModalMode as ModalModes)
	const title = computed(() => (mode.value === ('create' as ModalModes) ? 'Create New Task' : 'Edit Task'))
	const buttonText = computed(() => (mode.value === ('create' as ModalModes) ? 'Create' : 'Save'))

	const titleInputRef = ref(null as any)
	const descriptionInputRef = ref(null as any)

	function handleHideModal() {
		store.dispatch('hideTaskModal')
	}

	function handleSelectColumn(columnID: string) {
		selectedColumn.value = store.state.boardsStore.columns.find((column: Column) => column.id === columnID)
	}

	function handleFormSubmit() {
		if (titleInputRef.value.value !== '' && descriptionInputRef.value.value !== '') {
			if (mode.value === 'create' && selectedColumn.value.title) {
				store.dispatch('createNewTask', {
					title: titleInputRef.value.value,
					description: descriptionInputRef.value.value,
					columnID: selectedColumn.value.id
				})
				store.dispatch('hideTaskModal')
			} else if (mode.value === 'edit') {
				store.dispatch('editTask', {
					title: titleInputRef.value.value,
					description: descriptionInputRef.value.value
				})
				store.dispatch('hideTaskModal')
			} else if (mode.value === 'addSubtask') {
				store.dispatch('createSubtask', {
					title: titleInputRef.value.value,
					description: descriptionInputRef.value.value,
					parentTaskID: taskToModify.value?.id || ''
				})
				store.dispatch('hideTaskModal')
			}
		}
	}

	onMounted(() => {
		if (mode.value === 'edit') {
			titleInputRef.value.value = taskToModify.value?.title || ''
			descriptionInputRef.value.value = taskToModify.value?.description || ''
		}
	})
</script>

<template>
	<modal @hide-modal="handleHideModal">
		<div class="modal-content">
			<h3>{{ title }}</h3>
			<form class="new-task-form" @submit.prevent="handleFormSubmit">
				<label>
					Task Title
					<input type="text" ref="titleInputRef" />
				</label>
				<label>
					Task Description
					<textarea type="text" ref="descriptionInputRef" />
				</label>
				<label v-if="mode === 'create'" @click.prevent>
					Task Column
					<custom-select
						:options="columns"
						:selected-option="selectedColumn.title"
						@select-column="handleSelectColumn" />
				</label>
				<div class="submit-button-wrapper">
					<button type="submit">{{ buttonText }}</button>
				</div>
			</form>
		</div>
	</modal>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		gap: $vertical-separation;

		& > h3 {
			color: $text-accent;
		}
	}

	.new-task-form {
		display: flex;
		flex-direction: column;
		gap: $vertical-separation;

		width: 200px;
	}

	.submit-button-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
</style>
