<script lang="ts" setup>
	import { computed } from 'vue'
	import { useStore } from 'vuex'
	import { Board, Column, ModalModes } from '../../types'

	const store = useStore()

	const selectedBoard = computed(() => store.state.boardsStore.selectedBoard as Board)
	const boardColumns = computed(
		() =>
			store.state.boardsStore.columns.filter(
				(column: Column) => column.boardID === selectedBoard.value.id
			) as Array<Column>
	)

	function handleShowTaskModal() {
		if (selectedBoard.value.id && boardColumns.value.length !== 0) {
			store.dispatch('showTaskModal', 'create' as ModalModes)
		}
	}
</script>

<template>
	<header class="top-bar-root">
		<h2>{{ selectedBoard ? selectedBoard.title : '' }}</h2>
		<button @click="handleShowTaskModal">+ Add New Task</button>
	</header>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.top-bar-root {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 $horizontal-separation;

		height: $long-element-height;

		background-color: $base-lighter;
		border-bottom: 1px solid $base-darker;
	}
</style>
