<script lang="ts" setup>
	import { computed } from 'vue'
	import { useStore } from 'vuex'
	import { ElementTypes, ModalModes } from '../types'
	import BoardModal from '../components/composite/BoardModal.vue'
	import ColumnModal from '../components/composite/ColumnModal.vue'
	import ColumnsDisplay from '../components/composite/ColumnsDisplay.vue'
	import Content from '../components/composite/Content.vue'
	import ContextMenu from '../components/UI/ContextMenu.vue'
	import DeleteModal from '../components/composite/DeleteModal.vue'
	import LeftPanel from '../components/composite/LeftPanel.vue'
	import MoveModal from '../components/composite/MoveModal.vue'
	import TaskModal from '../components/composite/TaskModal.vue'
	import TopBar from '../components/composite/TopBar.vue'

	const store = useStore()

	const isLeftPanelHidden = computed(() => store.state.leftPanelStore.isHidden)
	const showDeleteModal = computed(() => store.state.modalStore.showDeleteModal)
	const showMoveModal = computed(() => store.state.modalStore.showMoveModal)
	const showBoardModal = computed(() => store.state.modalStore.showBoardModal)
	const showColumnModal = computed(() => store.state.modalStore.showColumnModal)
	const showTaskModal = computed(() => store.state.modalStore.showTaskModal)

	const contextMenuProperties = computed(() => store.state.contextMenuStore)
	const modalElementType = computed(() => store.state.boardsStore.elementToModify.type as ElementTypes)

	function handleHideContextMenu() {
		store.dispatch('hideContextMenu')
	}
	function handleSelectContextOption(option: string) {
		const mode = (
			option === 'Edit'
				? 'edit'
				: option === 'Delete'
				? 'delete'
				: option === 'Move'
				? 'move'
				: option === 'Add Subtask'
				? 'addSubtask'
				: 'create'
		) as ModalModes

		if (mode === 'delete') {
			store.dispatch('showDeleteModal')
		} else if (mode === 'move') {
			store.dispatch('showMoveModal')
		} else if (mode === 'addSubtask') {
			store.dispatch('showTaskModal', mode)
		} else {
			if (modalElementType.value === 'board') {
				store.dispatch('showBoardModal', mode)
			} else if (modalElementType.value === 'column') {
				store.dispatch('showColumnModal', mode)
			} else if (modalElementType.value === 'task') {
				store.dispatch('showTaskModal', mode)
			} else {
				console.error('error')
			}
		}
		store.dispatch('hideContextMenu')
	}
</script>

<template>
	<div class="main-view">
		<context-menu
			v-if="contextMenuProperties.isOpen"
			:coordinates="contextMenuProperties.coordinates"
			:options="contextMenuProperties.options"
			@hide="handleHideContextMenu"
			@select-option="handleSelectContextOption" />
		<delete-modal v-if="showDeleteModal" />
		<move-modal v-if="showMoveModal" />
		<board-modal v-if="showBoardModal" />
		<column-modal v-if="showColumnModal" />
		<task-modal v-if="showTaskModal" />
		<div :class="`left-panel-wrapper${isLeftPanelHidden ? '--hidden' : ''}`">
			<left-panel />
		</div>
		<div :class="`content-wrapper${isLeftPanelHidden ? '--expanded' : ''}`">
			<top-bar />
			<columns-display />
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.main-view {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		height: inherit;
		width: inherit;

		position: relative;

		overflow: hidden;
	}

	.left-panel-wrapper {
		position: absolute;
		top: 0;
		left: 0;

		height: inherit;
		width: 15%;

		transition: left 0.3s ease;

		&--hidden {
			@extend .left-panel-wrapper;
			left: -15%;
		}
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 15%;
		box-sizing: border-box;

		transition: padding-left 0.3s ease;

		&--expanded {
			@extend .content-wrapper;
			padding-left: 0;
		}
	}
</style>
