<script lang="ts" setup></script>

<template>
	<div class="title">
		<img src="../../assets/app-icon.svg" />
		<h1>kanban</h1>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: $horizontal-separation;
		gap: $small-separation;
		box-sizing: border-box;

		height: $long-element-height;
		width: 100%;
	}
</style>
