<script lang="ts" setup>
	const emit = defineEmits(['hideModal'])

	function handleCloseModal() {
		emit('hideModal')
	}
</script>

<template>
	<div class="backdrop-root" @click="handleCloseModal">
		<slot></slot>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';
	.backdrop-root {
		display: flex;
		align-items: center;
		justify-content: center;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;

		height: 100vh;
		width: 100vw;

		background-color: rgba(0, 0, 0, 0.4);
	}
</style>
