<script lang="ts" setup>
	import { computed, ref } from 'vue'
	import { useStore } from 'vuex'
	import { ElementTypes } from '../../types'
	import BoardIcon from './BoardIcon.vue'
	import OptionsIcon from './OptionsIcon.vue'

	const props = defineProps({
		id: String,
		title: String,
		special: Boolean
	})

	const store = useStore()
	const isHovered = ref(false)
	const isSelected = computed(() =>
		store.state.boardsStore.selectedBoard ? store.state.boardsStore.selectedBoard.id === props.id : false
	)
	const contextMenuOptions = ref(['Edit', 'Delete'])

	function onMouseEnter() {
		isHovered.value = true
	}
	function onMouseLeave() {
		isHovered.value = false
	}

	// TODO: Outsource this chunk of logic into a mixin
	function handleOpenContextMenu(event: any) {
		const coordinates = {
			x: event.clientX,
			y: event.clientY
		}
		store.dispatch('setElementToModify', { id: props.id, type: 'board' as ElementTypes })
		store.dispatch('showContextMenu', {
			coordinates,
			options: contextMenuOptions.value
		})
	}
</script>

<template>
	<div
		:class="`board-list-entry-root${isSelected ? '--selected' : ''}${special ? '--special' : ''}`"
		@mouseenter="onMouseEnter"
		@mouseleave="onMouseLeave">
		<div class="board-title">
			<board-icon v-if="!special" :highlighted="isHovered || isSelected" />
			<span>{{ title }}</span>
		</div>
		<options-icon v-if="!special" :hovered="isSelected" @click.stop="handleOpenContextMenu" />
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.board-list-entry-root {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: $small-separation 0;
		padding-left: $horizontal-separation;
		padding-right: $regular-separation;
		box-sizing: border-box;

		width: calc(100% - $horizontal-separation);

		border-radius: $small-element-radius;
		cursor: pointer;

		transition: background-color 0.3s;

		&:hover {
			& > div > span {
				color: $text-accent;
			}
		}

		&--selected {
			@extend .board-list-entry-root;
			background-color: $accent;

			& > div > span {
				color: $text-accent;
			}
		}

		&--special {
			@extend .board-list-entry-root;
			& > div > span {
				color: $accent;
			}
		}
	}

	.board-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $regular-separation;
		box-sizing: border-box;
	}

	span {
		font-family: $general-title-font;
		font-weight: 500;
		color: $text-soft;

		user-select: none;

		transition: color 0.3s;
	}
</style>
