<script lang="ts" setup>
	defineProps({
		highlighted: Boolean
	})
</script>

<template>
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			:class="highlighted ? 'highlighted' : ''"
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M10.5 1H17C18.1046 1 19 1.89543 19 3V6H10.5V1ZM20 7V6V3C20 1.34315 18.6569 0 17 0H10.5H9.5H3C1.34315 0 0 1.34315 0 3V17C0 18.6569 1.34315 20 3 20H9.5H10.5H17C18.6569 20 20 18.6569 20 17V14V13V7ZM19 13V7H10.5V13H19ZM10.5 14V19H17C18.1046 19 19 18.1046 19 17V14H10.5ZM9.5 19H3C1.89543 19 1 18.1046 1 17V3C1 1.89543 1.89543 1 3 1H9.5V19Z" />
	</svg>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	path {
		fill: $text-soft;
		transition: fill 0.3s;
		&.highlighted {
			fill: $text-accent;
		}
	}
</style>
