<script lang="ts" setup>
	const emit = defineEmits(['click'])

	const props = defineProps({
		color: String,
		selected: Boolean
	})
</script>

<template>
	<button
		:class="`color-button-root${selected ? '--selected' : ''}`"
		:style="`background-color: ${color}; outline-color: ${color};`"
		@click="emit('click')" />
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	$outline-width: 2px;
	.color-button-root {
		padding: 0;
		width: $box-horizontal-padding;
		height: $box-horizontal-padding;

		user-select: none;
		outline: none;

		&--selected {
			@extend .color-button-root;
			outline: $outline-width solid;
			outline-offset: $outline-width;
		}
	}
</style>
