<script lang="ts" setup>
	import { onBeforeMount, onUnmounted, ref } from 'vue'

	const emit = defineEmits(['hide', 'selectOption'])

	defineProps<{
		options: Array<string>
		coordinates: Record<string, any>
	}>()

	const ctxMenuRef = ref(null as any)

	function onClickOutside(event: any) {
		if (!(ctxMenuRef.value == event.target || ctxMenuRef.value.contains(event.target))) {
			emit('hide')
		}
	}

	function handleSelectOption(option: string) {
		emit('selectOption', option)
	}

	onBeforeMount(() => {
		document.body.addEventListener('click', onClickOutside)
	})
	onUnmounted(() => {
		document.body.removeEventListener('click', onClickOutside)
	})
</script>

<template>
	<div
		ref="ctxMenuRef"
		class="context-menu-root"
		:style="`top: ${coordinates.y}px; left: ${coordinates.x}px;`">
		<ul class="context-list">
			<li v-for="option in options" :key="option" @click="() => handleSelectOption(option)">
				{{ option }}
			</li>
		</ul>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.context-menu-root {
		position: fixed;
		z-index: 999;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-color: $base-lighter;
		border: 1px solid $base-darker;
		border-radius: $small-radius;
		padding: $small-separation 0;
	}

	.context-list {
		display: flex;
		flex-direction: column;
		list-style-type: none;

		min-width: 150px;

		& > li {
			font-size: $general-font-size;
			font-family: $general-title-font;
			color: $text-soft;

			padding: $small-radius $small-padding;

			user-select: none;
			cursor: pointer;

			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: $text-accent;
				background-color: $accent;
			}
		}
	}
</style>
