<script lang="ts" setup>
	import { computed, ref } from 'vue'
	import { Column } from '../../types'

	const emit = defineEmits(['selectColumn'])

	const props = defineProps<{
		options: Array<Column>
		selectedOption: String
	}>()

	const isExpanded = ref(false)

	const dropdownHeight = computed(() => {
		if (props.options && isExpanded.value) {
			return props.options.length < 7 ? 24 * props.options.length : 140
		} else {
			return 0
		}
	})

	function toggleExpand() {
		isExpanded.value = !isExpanded.value
	}
	function hideDropdown() {
		isExpanded.value = false
	}

	function handleSelectOption(columnID: string) {
		isExpanded.value = false
		emit('selectColumn', columnID)
	}
</script>

<template>
	<div class="custom-select-root">
		<div class="select" @click="toggleExpand">
			<input placeholder="Select a column" type="text" readonly :value="selectedOption" />
			<div class="icon-container">
				<img :class="`icon${isExpanded ? '--rotated' : ''}`" src="../../assets/select-expand-icon.svg" />
			</div>
		</div>
		<div
			:class="`options${isExpanded ? '--expanded' : ''}`"
			:style="`
				height: ${dropdownHeight}px;
				overflow-y: ${options.length < 7 ? 'hidden' : 'scroll'};
			`">
			<span
				class="option"
				v-for="column in options"
				:key="column.id"
				@click="() => handleSelectOption(column.id)">
				{{ column.title }}
			</span>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	$expand-icon-width: 24px;

	@mixin font-styling {
		font-family: $task-title-font;
		font-size: 14px;
		font-weight: 400;
		color: black;
	}

	.custom-select-root {
		position: relative;
	}

	.select {
		display: flex;
		flex-direction: row;
		cursor: pointer;

		& > input {
			@include font-styling;

			width: calc(100% - $expand-icon-width);

			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			cursor: pointer;
		}
	}

	.icon-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: $expand-icon-width;
		box-sizing: border-box;

		padding: 10.5px 0;

		border: 1px solid $text-soft;
		border-left: none;
		border-radius: $small-element-radius;

		background-color: white;
	}

	.icon {
		user-select: none;
		transform: rotate(0);
		transition: transform 0.3s;

		&--rotated {
			@extend .icon;
			transform: rotate(180deg);
		}
	}

	.options {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 31px; // Fine tuning was required here
		width: 100%;
		height: 200px;
		left: 0;
		box-sizing: border-box;

		overflow: hidden;
		overflow-y: scroll;

		border: none;
		border-radius: 0 0 5px 5px;
		background-color: white;

		transition: height 0.3s ease;

		/* width */
		&::-webkit-scrollbar {
			width: $small-padding;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			border-radius: $small-padding;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $text-soft;
			border-radius: $small-padding;
		}

		&--expanded {
			@extend .options;
			height: 0;
			padding: 0;
			border: 1px solid $text-soft;
		}
	}

	.option {
		@include font-styling;

		padding: 2px 8px;

		&:hover {
			background-color: #3297fd;
			color: white;
			cursor: pointer;
		}
	}
</style>
