<script lang="ts" setup>
	defineProps({
		hovered: Boolean
	})
</script>

<template>
	<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path :class="`${hovered ? 'hovered' : ''}`" d="M0.5 0.5L11 8.5L0.5 17.5" />
	</svg>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	path {
		stroke: $text-soft;
		transition: stroke 0.3s;
		&.hovered {
			stroke: $text-accent;
		}
	}
</style>
