<script lang="ts" setup>
	defineProps({
		hovered: Boolean
	})
</script>

<template>
	<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			:class="`${hovered ? 'hovered' : ''}`"
			d="M15.069 2.546L17.753 0.187C17.896 0.0619998 18.073 0 18.25 0C18.668 0 19 0.34 19 0.75C19 0.957 18.914 1.164 18.746 1.312L2.246 15.813C2.104 15.939 1.927 16 1.75 16C1.335 16 1 15.666 1 15.25C1 15.043 1.086 14.836 1.253 14.688L3.691 12.545C2.277 11.413 1.064 9.993 0.144 8.517C0.0480001 8.358 0 8.179 0 8C0 7.821 0.049 7.642 0.145 7.483C2.256 4.093 5.92 1 9.998 1C11.813 1 13.534 1.593 15.069 2.546ZM17.388 4.376C18.354 5.319 19.191 6.39 19.862 7.493C19.954 7.649 20 7.825 20 8C20 8.175 19.954 8.351 19.862 8.507C17.794 11.91 14.141 15 9.998 15C8.701 15 7.445 14.687 6.269 14.151L7.516 13.055C8.311 13.34 9.142 13.5 9.998 13.5C13.514 13.5 16.574 10.878 18.411 8C17.816 7.068 17.093 6.162 16.266 5.363L17.388 4.376ZM13.954 7.395C13.984 7.592 14 7.794 14 8C14 10.208 12.208 12 10 12C9.616 12 9.244 11.946 8.893 11.844L10.473 10.455C11.368 10.284 12.094 9.634 12.374 8.784L13.954 7.395ZM13.896 3.577C12.699 2.907 11.384 2.5 9.998 2.5C6.533 2.5 3.465 5.132 1.594 8C2.447 9.308 3.549 10.567 4.825 11.549L6.553 10.03C6.202 9.435 6 8.741 6 8C6 5.792 7.792 4 10 4C10.925 4 11.777 4.315 12.455 4.843L13.896 3.577ZM11.296 5.862C10.918 5.632 10.474 5.5 10 5.5C8.62 5.5 7.5 6.62 7.5 8C7.5 8.36 7.576 8.701 7.713 9.011L11.296 5.862Z" />
	</svg>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	path {
		fill: $text-soft;
		transition: fill 0.3s;
		&.hovered {
			fill: $text-accent;
		}
	}
</style>
