<script lang="ts" scoped></script>

<template>
	<div class="modal-box-root" @click.stop>
		<slot></slot>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	.modal-box-root {
		padding: $box-vertical-padding $box-horizontal-padding;

		background-color: $base-lighter;
		border: 1px solid $base-darker;
		border-radius: $task-border-radius;

		color: white;
	}
</style>
