<script lang="ts" setup>
	const emit = defineEmits(['mousedown', 'mouseup'])

	defineProps({
		hovered: Boolean
	})

	function handleMouseDown(event: any) {
		emit('mousedown', event)
	}
	function handelMouseUp(event: any) {
		emit('mouseup', event)
	}
</script>

<template>
	<svg
		width="18"
		height="18"
		viewBox="0 0 18 18"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		@mousedown="handleMouseDown"
		@mouseup="handelMouseUp">
		<path
			:class="hovered ? 'hovered' : ''"
			d="M4.5 8.25V5.25L0 9L4.5 12.75V9.75H13.5V12.75L18 9L13.5 5.25V8.25H4.5Z" />
	</svg>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	svg {
		min-width: 18px;
		cursor: move;

		& > path {
			fill: $text-soft;

			transition: fill 0.3s;
		}

		&:hover {
			& > path {
				fill: $text-accent;
			}
		}
	}

	.hovered {
		fill: $text-accent;
	}
</style>
