<script lang="ts" setup>
	import { isOn } from '@vue/shared'

	const emit = defineEmits(['click'])

	defineProps({
		hovered: Boolean,
		isOnColumn: Boolean
	})

	function handleClick(event: any) {
		emit('click', event)
	}
</script>

<template>
	<svg
		:class="`${isOnColumn ? 'pushed-left' : ''}`"
		width="18"
		height="17"
		viewBox="0 0 18 17"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		@click="handleClick">
		<path
			:class="hovered ? 'hovered' : ''"
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M6 8.5C6 7.39543 5.10457 6.5 4 6.5C2.89543 6.5 2 7.39543 2 8.5C2 9.60457 2.89543 10.5 4 10.5C5.10457 10.5 6 9.60457 6 8.5ZM11 8.5C11 7.39543 10.1046 6.5 9 6.5C7.89543 6.5 7 7.39543 7 8.5C7 9.60457 7.89543 10.5 9 10.5C10.1046 10.5 11 9.60457 11 8.5ZM14 6.5C15.1046 6.5 16 7.39543 16 8.5C16 9.60457 15.1046 10.5 14 10.5C12.8954 10.5 12 9.60457 12 8.5C12 7.39543 12.8954 6.5 14 6.5Z" />
	</svg>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';

	svg {
		min-width: 18px;
		cursor: pointer;

		& > path {
			fill: $text-soft;

			transition: fill 0.3s;
		}

		&.pushed-left {
			margin-right: 8px;
		}

		&:hover {
			& > path {
				fill: $text-accent;
			}
		}
	}

	.hovered {
		fill: $text-accent;
	}
</style>
