<script lang="ts" setup>
	import { computed, ref } from 'vue'
	import { useStore } from 'vuex'
	import { ElementTypes, Task } from '../../types'
	import OptionsIcon from './OptionsIcon.vue'
	import MoveIcon from './MoveIcon.vue'

	const props = defineProps({
		title: String,
		description: String,
		id: String,
		columnId: String,
		parentTaskId: String
	})

	const store = useStore()
	const contextMenuOptions = ref(['Edit', 'Delete', 'Move', 'Add Subtask'])
	const subtaskMenuOptions = ref(['Edit', 'Delete'])

	const isDragging = ref(false)
	const dragOffset = computed(() => store.state.mouseTrackingStore.dragOffset as Record<string, number>)
	const mousePosition = computed(() => store.state.mouseTrackingStore.mousePosition as Record<string, number>)
	const hoveringOverColumnId = computed(() => store.state.mouseTrackingStore.overColumnId)

	const subtasks = computed(() =>
		store.state.boardsStore.tasks.filter((task: Task) => task.parentTaskID === props.id)
	)

	const positionStyle = computed(
		() =>
			`${
				isDragging.value === true
					? `
					   position: absolute;
					   top: ${mousePosition.value.y - dragOffset.value.y}px;
					   left: ${mousePosition.value.x - (dragOffset.value.x + (subtasks.value.length === 0 ? 0 : 40))}px;
						 width: ${subtasks.value.length === 0 ? '254' : '292'}px;
						`
					: ''
			}`
	)

	// TODO: Outsource this chunk of logic into a mixin
	function handleOpenContextMenu(event: any, id?: string) {
		const coordinates = {
			x: event.clientX,
			y: event.clientY
		}
		store.dispatch('setElementToModify', { id: id ?? props.id, type: 'task' as ElementTypes })
		store.dispatch('showContextMenu', {
			coordinates,
			options: id ? subtaskMenuOptions.value : contextMenuOptions.value
		})
	}

	function moveTask(event: any) {
		store.dispatch('updateMousePosition', { x: event.clientX, y: event.clientY })
	}
	function handleStartMovingTask(event: any) {
		isDragging.value = true
		store.dispatch('setIsDraggingTask', true)
		store.dispatch('updateMousePosition', { x: event.clientX, y: event.clientY })
		window.addEventListener('mousemove', moveTask)
	}
	function hadleDropTask() {
		if (hoveringOverColumnId.value !== '' && hoveringOverColumnId.value !== props.columnId) {
			store.dispatch('dragTask', { taskID: props.id, columnID: hoveringOverColumnId.value })
		}

		isDragging.value = false
		store.dispatch('setIsDraggingTask', false)
		store.dispatch('setOverColumnId', '')
		window.removeEventListener('mousemove', moveTask)
	}
</script>

<template>
	<div :class="`task-root${subtasks.length > 0 ? ' parent' : ''}`" :style="positionStyle">
		<div class="task-header">
			<h5>{{ title }}</h5>
			<div class="actions">
				<move-icon
					v-if="props.parentTaskId === ''"
					@mousedown="handleStartMovingTask"
					@mouseup="hadleDropTask" />
				<options-icon @click.stop="handleOpenContextMenu" />
			</div>
		</div>
		<p>{{ description }}</p>
		<div v-if="subtasks.length > 0" v-for="subtask in subtasks" class="task-root child-task">
			<div class="task-header">
				<h5>{{ subtask.title }}</h5>
				<div class="actions">
					<options-icon @click.stop="e => handleOpenContextMenu(e, subtask.id)" />
				</div>
			</div>
			<p>{{ subtask.description }}</p>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	@import '../../styles/general';
	$task-width: 254px;

	.task-root {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: $box-vertical-padding $box-horizontal-padding;
		gap: $small-separation;
		box-sizing: border-box;

		min-width: $task-width;
		max-width: $task-width + (2 * $box-horizontal-padding);

		background: $base-lighter;
		border: 1px solid $base-darker;
		border-radius: 10px;

		&.child-task {
			min-width: $task-width;
			border-width: 2px;
			border-radius: 6px;
		}
	}

	.task-header {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.actions {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
</style>
